@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="DecrementCount">Click me 2</button>


@code {
    private int currentCount = 0;

    [Parameter]
    public int ChangeAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += ChangeAmount;
    }

    private void DecrementCount()
    {
        currentCount -= ChangeAmount;
    }
}
