<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HousePartyTranslator.Ressources.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Translator.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Translator.Desktop.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TranslatorAdmin.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HousePartyTranslator.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="HousePartyTranslator.Ressources.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Translator.Desktop.Properties.Settings>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.06</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="template_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
            <setting name="translation_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
            <setting name="story_path" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_0" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_1" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_2" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_3" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_4" serializeAs="String">
                <value />
            </setting>
            <setting name="displayVAHints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLoadRecent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoTranslate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="askForSaveDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alsoSaveToGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="recent_index" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="autoLoadRecentIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useFalseFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableDiscordRP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCustomStories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>05:00:00</value>
            </setting>
            <setting name="dbUserName" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IdealLength" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ColoringDepth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IgnoreCustomStoryWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NodeItemColor" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="NodeItemGroupColor" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="NodeActionColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="NodeEventColor" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="NodeCriterionColor" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="NodeResponseColor" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="NodeDialogueColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="NodeDialogueFemaleOnlyColor" serializeAs="String">
                <value>255, 192, 255</value>
            </setting>
            <setting name="NodeDialogueMaleOnlyColor" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="NodeQuestColor" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
            <setting name="NodeReactionColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="NodeAchievementColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="NodeBGCColor" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="NodeValueColor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="NodeDoorColor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="NodeInventoryColor" serializeAs="String">
                <value>192, 192, 0</value>
            </setting>
            <setting name="NodeStateColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="NodePersonalityColor" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
            <setting name="NodeCutsceneColor" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="NodeClothingColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="NodeCriteriaGroupColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="NodePoseColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="NodePropertyColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="NodeSocialColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="UseRainbowEdges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NodeMovingColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="NodeInfoColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="NodeSelectedColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NodeDefaultColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="EdgeDefaultColor" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="UseRainbowNodes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableStoryExplorerEdit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExplorerMaxEdgeCount" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="ShowExtendedExplorerInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreMissingLinesWarning" serializeAs="String">
                <value>False</value>
            </setting>
        </Translator.Desktop.Properties.Settings>
        <Translator.Desktop.Settings>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.06</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="template_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
            <setting name="translation_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
            <setting name="story_path" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_0" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_1" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_2" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_3" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_4" serializeAs="String">
                <value />
            </setting>
            <setting name="displayVAHints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLoadRecent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoTranslate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="askForSaveDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alsoSaveToGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="recent_index" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="autoLoadRecentIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useFalseFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableDiscordRP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCustomStories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>05:00:00</value>
            </setting>
            <setting name="dbUserName" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IdealLength" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ColoringDepth" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="IgnoreCustomStoryWarning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NodeItemColor" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="NodeItemGroupColor" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="NodeActionColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="NodeEventColor" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="NodeCriterionColor" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="NodeResponseColor" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="NodeDialogueColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="NodeDialogueFemaleOnlyColor" serializeAs="String">
                <value>255, 192, 255</value>
            </setting>
            <setting name="NodeDialogueMaleOnlyColor" serializeAs="String">
                <value>192, 192, 255</value>
            </setting>
            <setting name="NodeQuestColor" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
            <setting name="NodeReactionColor" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="NodeAchievementColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="NodeBGCColor" serializeAs="String">
                <value>0, 0, 192</value>
            </setting>
            <setting name="NodeValueColor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="NodeDoorColor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="NodeInventoryColor" serializeAs="String">
                <value>192, 192, 0</value>
            </setting>
            <setting name="NodeStateColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="NodePersonalityColor" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
            <setting name="NodeCutsceneColor" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="NodeClothingColor" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="NodeCriteriaGroupColor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="NodePoseColor" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="NodePropertyColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="NodeSocialColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="UseRainbowEdges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NodeMovingColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="NodeInfoColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="NodeSelectedColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="NodeDefaultColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="EdgeDefaultColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="UseRainbowNodes" serializeAs="String">
                <value>False</value>
            </setting>
        </Translator.Desktop.Settings>
        <TranslatorAdmin.Settings>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.03</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="template_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
            <setting name="translation_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
            <setting name="story_path" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_0" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_1" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_2" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_3" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_4" serializeAs="String">
                <value />
            </setting>
            <setting name="displayVAHints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLoadRecent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoTranslate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="askForSaveDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alsoSaveToGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="recent_index" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="autoLoadRecentIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useFalseFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableDiscordRP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCustomStories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="dbUserName" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </TranslatorAdmin.Settings>
        <HousePartyTranslator.Settings>
            <setting name="dbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.03</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="template_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
            <setting name="translation_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
            <setting name="story_path" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_0" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_1" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_2" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_3" serializeAs="String">
                <value />
            </setting>
            <setting name="recents_4" serializeAs="String">
                <value />
            </setting>
            <setting name="displayVAHints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLoadRecent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoTranslate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="askForSaveDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alsoSaveToGame" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="recent_index" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="autoLoadRecentIndex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useFalseFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableDiscordRP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCustomStories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSaveInterval" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="advancedMode" serializeAs="String">
                <value>False</value>
            </setting>
        </HousePartyTranslator.Settings>
        <HousePartyTranslator.Ressources.Default>
            <setting name="language" serializeAs="String">
                <value/>
            </setting>
            <setting name="template_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
            <setting name="translation_path" serializeAs="String">
                <value>C:\\Users\\</value>
            </setting>
        </HousePartyTranslator.Ressources.Default>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
